{% extends 'Layout/base.html.twig' %}

{% block body %}
    <form method="post" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Title" required value="{{ movie.title }}">
        <textarea name="synopsis" placeholder="Synopsis">{{ movie.synopsis }}</textarea>
        <input type="text" name="director" placeholder="Director" required value="{{ movie.director }}">
        <input type="date" name="release_date" placeholder="Release date" required value="{{ movie.releaseDate|date('Y-m-d') }}">
        <input type="file" name="file">
        <input type="submit">
    </form>
{% endblock body %}

